img {
	width: 150px;
	height: 150px;
	border: 1px;
}
.img_detalle {
	width: 550px;
	height: 550px;
	border: 3px;
	border-radius: 5px;
}
.left {
	align-content: flex-start;
}
.right {
	align-content: flex-end;
}
